<section class="first-view center-vertical">
	<h1>MUSIC SNS!!!</h1>
	<% if current_user.nil? %>
	<div>
			<form action="/signin" method="POST" class="form-inline">
				<input type="text" name="name" placeholder="ユーザー名" >
				<input type="password" name="password" placeholder="パスワード" >
				<input type="submit" value="ログイン" >
			</form>
	</div>
	<% end %>
</section>

  <section class="center-vertical">
    <h1>最新の投稿</h1>
    <div class="center-hrizontal">

          <div class="post center-vertical">
            <img src="https://is1-ssl.mzstatic.com/image/thumb/Music114/v4/86/f8/09/86f809fe-6737-8d11-cfbd-d06245cf2e36/source/100x100bb.jpg">
            <p>Suchmos</p>
            <p>Stay Tune - Single</p>
            <p>Stay Tune</p>
            <a href="https://audio-ssl.itunes.apple.com/apple-assets-us-std-000001/AudioPreview114/v4/a8/8d/22/a88d22fb-310e-1d70-0168-093f05b816ba/mzaf_7019535740213259243.plus.aac.p.m4a">サンプル</a>

          </div>

          <div class="post center-vertical">
            <img src="https://is3-ssl.mzstatic.com/image/thumb/Music125/v4/61/a7/3e/61a73e97-b8b2-26b6-3c39-08141b642285/source/100x100bb.jpg">
            <p>Suchmos</p>
            <p>The Ashtray</p>
            <p>Volt-Age</p>
            <a href="https://audio-ssl.itunes.apple.com/apple-assets-us-std-000001/AudioPreview115/v4/c5/1d/15/c51d15e5-521a-621d-4d36-72a19d6d3cae/mzaf_7547417319845037298.plus.aac.p.m4a">サンプル</a>

          </div>

          <div class="post center-vertical">
            <img src="https://is1-ssl.mzstatic.com/image/thumb/Music71/v4/cb/40/c4/cb40c49b-25ad-3deb-ac79-6ff5346190c2/source/100x100bb.jpg">
            <p>Suchmos</p>
            <p>The Bay</p>
            <p>S. G. S</p>
            <a href="https://audio-ssl.itunes.apple.com/apple-assets-us-std-000001/Music7/v4/86/05/49/860549c9-78aa-2a29-32a1-58ed7b9df841/mzaf_1420696193783204817.plus.aac.p.m4a">サンプル</a>

          </div>

          <div class="post center-vertical">
            <img src="https://is1-ssl.mzstatic.com/image/thumb/Music71/v4/cb/40/c4/cb40c49b-25ad-3deb-ac79-6ff5346190c2/source/100x100bb.jpg">
            <p>Suchmos</p>
            <p>The Bay</p>
            <p>Get Lady</p>
            <a href="https://audio-ssl.itunes.apple.com/apple-assets-us-std-000001/Music7/v4/39/67/77/39677753-4c8c-1848-c5e5-a839b2693373/mzaf_6156911901068390203.plus.aac.p.m4a">サンプル</a>

          </div>

          <div class="post center-vertical">
            <img src="https://is1-ssl.mzstatic.com/image/thumb/Music71/v4/cb/40/c4/cb40c49b-25ad-3deb-ac79-6ff5346190c2/source/100x100bb.jpg">
            <p>Suchmos</p>
            <p>The Bay</p>
            <p>Fallin'</p>
            <a href="https://audio-ssl.itunes.apple.com/apple-assets-us-std-000001/Music7/v4/c2/59/a5/c259a5e5-f803-29e5-799a-fd624a522531/mzaf_8292202227078611124.plus.aac.p.m4a">サンプル</a>

          </div>

          <div class="post center-vertical">
            <img src="https://is2-ssl.mzstatic.com/image/thumb/Music18/v4/63/01/c4/6301c460-8f2b-c60f-adeb-af9532424f97/source/100x100bb.jpg">
            <p>Suchmos</p>
            <p>Mint Condition - EP</p>
            <p>Jet Coast</p>
            <a href="https://audio-ssl.itunes.apple.com/apple-assets-us-std-000001/AudioPreview18/v4/69/7e/3a/697e3ad8-04b9-a565-6fa7-5ac1c69baf5d/mzaf_8519222601217155177.plus.aac.p.m4a">サンプル</a>

          </div>

          <div class="post center-vertical">
            <img src="https://is2-ssl.mzstatic.com/image/thumb/Music128/v4/e8/e2/52/e8e2525c-7e4e-6a69-431b-f36276d8a4ff/source/100x100bb.jpg">
            <p>Suchmos</p>
            <p>808 - Single</p>
            <p>808</p>
            <a href="https://audio-ssl.itunes.apple.com/apple-assets-us-std-000001/AudioPreview118/v4/ab/1a/f9/ab1af998-d182-788c-cca3-a45a265d8e00/mzaf_6171254371202622869.plus.aac.p.m4a">サンプル</a>

          </div>

          <div class="post center-vertical">
            <img src="https://is3-ssl.mzstatic.com/image/thumb/Music125/v4/61/a7/3e/61a73e97-b8b2-26b6-3c39-08141b642285/source/100x100bb.jpg">
            <p>Suchmos</p>
            <p>The Ashtray</p>
            <p>808</p>
            <a href="https://audio-ssl.itunes.apple.com/apple-assets-us-std-000001/AudioPreview125/v4/df/25/4e/df254e9d-1518-a48e-af71-7d1e5a5a7237/mzaf_6623818938742945760.plus.aac.p.m4a">サンプル</a>

          </div>

          <div class="post center-vertical">
            <img src="https://is2-ssl.mzstatic.com/image/thumb/Music18/v4/63/01/c4/6301c460-8f2b-c60f-adeb-af9532424f97/source/100x100bb.jpg">
            <p>Suchmos</p>
            <p>Mint Condition - EP</p>
            <p>S.G.S.3</p>
            <a href="https://audio-ssl.itunes.apple.com/apple-assets-us-std-000001/AudioPreview60/v4/62/eb/e6/62ebe6f2-9b91-0cb3-35c4-25629f23bebd/mzaf_1993998019470090347.plus.aac.p.m4a">サンプル</a>

          </div>

          <div class="post center-vertical">
            <img src="https://is2-ssl.mzstatic.com/image/thumb/Music18/v4/63/01/c4/6301c460-8f2b-c60f-adeb-af9532424f97/source/100x100bb.jpg">
            <p>Suchmos</p>
            <p>Mint Condition - EP</p>
            <p>Dumbo</p>
            <a href="https://audio-ssl.itunes.apple.com/apple-assets-us-std-000001/AudioPreview30/v4/95/40/e5/9540e5b5-f786-9737-e0eb-72d6c6c547b1/mzaf_3189584770681492917.plus.aac.p.m4a">サンプル</a>

          </div>

      </div>

  </section>