<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Music-SNS</title>
  <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <nav class="center-hrizontal">
    <a href="/">MUSIC SNS!!!</a>
    <% if current_user.nil? %>
      <a href="/signup">新規登録</a>
    <% else %>
      <a href="/home">home</a>
      <a href="/search">search</a>
      <a href="/signout">logout</a>
    <% end %>
  </nav>
  <%= yield %>
</body>
</html>