<main>
  <section class="center-vertical">
    <h1>検索フォーム</h1>
    <form action="/search" method="post">
      <input type="text" name="keyword" placeholder="アーティスト名">
      <input type="submit" value="検索">
    </form>
    <h2>検索結果</h2>
    <p>検索結果がありません</p>
  </section>
</main>